@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

body {
    background-color: #e8e4e1;
    font-family: 'Raleway', sans-serif;
}

html, body, #mainRow {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#navTop {
    height: 15%;
    background-color: #29282e;
    margin-top: -20px;
    padding-top: 40px;
    text-align: center;
}

nav {
    height:100%;
    background-color: #29282e;
}


nav ul {
    list-style-type: none;
}

nav li {
    margin-left: -50px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #919191;
    border-bottom: 1px solid #393840;
    text-align: center;
    padding: 10px;
}

nav h4 {
    color:#fff;
    text-align: center;
    margin-bottom: 30px;
}

#section1 {
    height: 250px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    background-color: rgba(41, 40, 46, 0.8);
    margin-left: 15px;
}

#info {
    margin-top: 50px;
    font-size: 16px;
    color:#fff;
    text-align: center;
}

#info h3 {
    margin-left: -5px;
}

#section2 {
    height: 200px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    background-color: rgba(33, 66, 73, 0.5);
    margin-left: 15px;
    margin-top: 15px;
}

#section3 {
    height: 300px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    background-color: rgba(33, 66, 73, 0.5);
    margin-left: 35px;
    margin-top: 15px;
}

#section4 {
    height:150px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    background-color: rgba(41, 40, 46, 0.8);
    margin-left: 5px;
    margin-top: 25px;
}

#section5 {
    height: 120px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    background: linear-gradient(135deg, #f6e6b4 0%,#314347 100%);
    background-size: cover;
    margin-left: 5px;
    margin-top: 15px;
}

#section5 p {
    color:#fff;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
}

#miniRow {
    margin-left: 15px;
    height:50px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    background-color: rgba(41, 40, 46, 0.8);
}

h4 {
    margin-left: 5px;
    font-weight: bold;
    color:#fff;
    text-align: center;
}


#projList {
    margin-left: 200px;
}

.btn-info {
    background-color: #29282e;
}

#bar {
    margin-top: -15px;
}

a:link {
    color:#fff;
}

a:visited {
    color:#fff;
}

a:active {
    color:#fff;
}

a:hover {
    color:#C2C4B7;
    text-decoration: none;
    font-weight: bold;
}

#section4projects {
    height:280px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    background-color: rgba(41, 40, 46, 0.8);
    margin-left: 5px;
    margin-top: 25px;
}
