@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

a:hover {
    text-decoration: none;
}

.active {
    background-color: #FFF;
    color:#000 !important;
}

#board {
    background-color: #FFF;
    margin-left: -15px;
}

body {
	background-color:#ACD1E1;
    background: -webkit-linear-gradient(left, rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%);
    font-family: 'Raleway', sans-serif;
}

canvas {
    margin-top: -15px;
}

#graph1 {
    background:linear-gradient(to right, #f54747 0%,#f96363 100%);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-left: 30px;
    margin-right: 5px;
    margin-bottom: 30px;
    height:200px;
    color:#FFF;
}

#graph1:hover {
    background: linear-gradient(to right, #f54747 0%,#f41f1f 99%);
}

#graph1 h4 {
    margin-bottom: 10px;
}

#graph1 p {
    text-align: center;
    font-size: 16px;
}

#graph2 {
/*    background-color: #89B7D6;*/
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    height:200px;
    margin-bottom: 30px;
    color:#69CEDB;
    text-align: center;
}

/*
#graph2:hover {
    background-color: #96C9EB;
}
*/

#graph3 {
    background: linear-gradient(to right, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-left: 5px;
    margin-bottom: 10px;
    height:200px;
    color:#FFF;
    text-align: center;
}

#graph3:hover {
    background: linear-gradient(to right, #7995fc 0%,#60abf8 44%,#2388ed 100%);
}

#graph3 h4 {
    margin-bottom: 30px;
}

#graph3 p {
    font-size: 20px;
    font-weight: bold;
}

#graph4 {
    background-color: #8EC4E8;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-left: 5px;
    margin-bottom: 10px;
    height:200px;
    color:#FFF;
    text-align: center;
}

#graph4:hover {
    background-color: #96D2FA;
}

header .dropdown {
    float:right;
    margin-top: 15px;
	margin-right:80px;
}

header h3 {
    float:left;
}

header li:hover {
    background-color: #658FAB;
    color:#FFF;
}

h3 {
    color:#69CEDB
}

h3 small {
    color:#189AAB;
    font-weight: bold;
}

h4 {
    text-align: center;
    
}

#information {
    clear: both;
}

#menu {
    margin-top: 30%;
}

#menu li{
    height:50px;
    color:#FFF;
}

#menu li:hover{
    height:50px;
    color:#FFF !important;
    background-color: #658FAB;
}

#progress {
/*    background: linear-gradient(to right, rgba(255,197,120,1) 0%,rgba(249,168,69,1) 100%);*/
    background: linear-gradient(to right, #ffc578 0%,#fb9d23 100%);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    height: 200px;
    margin-left: 30px;
    margin-right: 5px;
    color:#FFF;
    text-align: center;
}

#progressGraph {
    margin-top: 10px;
}

#progress:hover {
    background: linear-gradient(to right, #ffaf47 0%,#f99111 100%);
}