@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

body {
    background: -webkit-linear-gradient(left, rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%);
    font-family: 'Raleway', sans-serif;
}

#menu {
    margin-top: 50%;
}

#menu li{
    height:50px;
    color:#FFF;
}

#menu li:hover{
    height:50px;
    color:#000;
    background-color: #658FAB;
}

#board {
    background-color: #FFF;
    margin-left: -15px;
}

#graph1 {
    background-color: #89B7D6;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#graph2 {
    background-color: #46C76F;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-left: 15px;
}

#graph3 {
    background-color: #ED344D;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-left: 15px;
}

#progress {
    background-color: #F79E54;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.active {
    background-color: #FFF;
    color:#000 !important;
}

