@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

body {
    background: -webkit-linear-gradient(left, rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%);
    font-family: 'Raleway', sans-serif;
}

a:hover {
    text-decoration: none;
}

#menu {
    margin-top: 50%;
}

#menu li{
    height:50px;
    color:#FFF;
}

#menu li:hover{
    height:50px;
    color:#FFF !important;
    background-color: #658FAB;
}


#board {
    background-color: #FFF;
    margin-left: -15px;
}

#graph1 {
    background-color: #F54747;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-left: 30px;
    margin-right: 5px;
    margin-bottom: 20px;
    height:300px;
    color:#FFF;
}

#graph1:hover {
    background-color: #FC3A3A;
}

.active {
    background-color: #FFF;
    color:#000 !important;
}

#graph2 {
/*    background-color: #89B7D6;*/
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    height:300px;
    margin-bottom: 20px;
    color:#69CEDB;
    text-align: center;
}

/*
#graph2:hover {
    background-color: #96C9EB;
}
*/

#graph3 {
    background-color: #47728F;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-left: 32px;
    margin-bottom: 10px;
    height:200px;
    color:#FFF;
    text-align: center;
}

#graph3:hover {
    background-color: #32546B;
}

#graph4 {
    background-color: #8EC4E8;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-left: 5px;
    margin-bottom: 10px;
    height:200px;
    color:#FFF;
    text-align: center;
}

#graph4:hover {
    background-color: #96D2FA;
}

#progress {
    background-color: #6FB543;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    height: 300px;
    margin-left: 5px;
    color:#FFF;
    text-align: center;
}

#progress:hover {
    background-color: #569130;
}

header .dropdown {
    float:right;
    margin-top: 15px;
    position: absolute;
    right: 80px;
}

header h3 {
    float:left;
}

header li:hover {
    background-color: #658FAB;
    color:#FFF;
}

h3 {
    color:#69CEDB
}

h3 small {
    color:#189AAB;
    font-weight: bold;
}

h4 {
    text-align: center;
}

#information {
    clear: both;
}

canvas {
    margin-top: -15px;
}