@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);
a{
	color:#ffffff;
}
a:hover{
	text-decoration:none;
}
body {
    background-color: rgba(11, 12, 18, 0.9);
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

ul {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

li {
    text-align: center;
}
input{
	background-color:rgba(125, 126, 125, 0.1);
}
#projectList li {
    color:#000;
    margin-right: 0px;
    margin-left: 0px;
    padding: 5px;
}
#projectList li:hover{
    color:#FFF !important;
    background-color: #658FAB;
}

#graphics {
    background-color: rgba(125, 126, 125, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
	margin-left: 15px;
	margin-right: 5px;
	margin-bottom: 15px;
	width: 80%;
	height: 20%;
	color: #FFFFFF;
	text-align: center;
}

#loadImage{
	display:block;
	margin:auto;
padding-bottom:15%;	
}

.active {
	background-color: #FFF;
	color: #000 !important;
}


header h3 {
    float: left;
    margin-left: 55px;
}

header .dropdown {
    float: right;
    margin-right: 80px;
    margin-top: 15px;
}

header {
    margin-bottom: 20px;
}
#data{
		text-align: center;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 50px;
	width:auto;
    background-color: rgba(125, 126, 125, 0.1);
		color: #FFFFFF;
}
#data:hover{
  background-color: rgba(125, 126, 125, 1);
}

#about{
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 50px;
    background-color: rgba(125, 126, 125, 0.1);
		color: #FFFFFF;
}
#about:hover{
    background-color: rgba(125, 126, 125, 1);
}
#layer1 {
    clear: both;
    margin-left: 40px;
    margin-bottom: 30px;
}

#layer2 {
    margin-left: 40px;
	margin-bottom:30px;
}
table {
	color: #000000;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #FCFCFC;
}
.navbar-inverse {
    background-color: rgba(17, 18, 23, 0.9);
}
th, td {
	padding: 5px;
	border: 1px solid black;
}