@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

body {
    background: -webkit-linear-gradient(left, rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%);
    font-family: 'Raleway', sans-serif;
}

#menu {
    margin-top: 50%;
}

#menu li{
    height:50px;
    color:#FFF;
}

#menu li:hover{
    height:50px;
    color:#FFF !important;
    background-color: #658FAB;
}

#board {
    background-color: #FFF;
    margin-left: -15px;
}


.active {
    background-color: #FFF;
    color:#000 !important;
}

header .dropdown {
    float:right;
    margin-top: 15px;
}

header h3 {
    float:left;
}

header li:hover {
    background-color: #658FAB;
    color:#FFF;
}

h3 {
    color:#69CEDB
}

h3 small {
    color:#189AAB;
    font-weight: bold;
}

#information {
    clear: both;
}