@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

a{
	color:#ffffff;
}
a:hover{
	text-decoration:none;
}
body {
    background-color: rgba(11, 12, 18, 0.9);
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

ul {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

li {
    padding: 10px;
    text-align: center;
}

input{
	background-color: rgba(125, 126, 125, 0.1);
}
#settings {
    background-color: rgba(125, 126, 125, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
	margin-left: 30px;
	margin-right: 5px;
	margin-bottom: 20px;
	width: 90%;
	height: 30%;
}
#layer1 {
    clear: both;
    margin-left: 40px;
    margin-bottom: 30px;
}

#layer2 {
    margin-left: 40px;
	margin-bottom:30px;
}


header h3 {
    float: left;
    margin-left: 55px;
}

header {
    margin-bottom: 20px;
}
.navbar-inverse {
    background-color: rgba(17, 18, 23, 0.9);
}

nav li:hover {
    background-color:rgba(96, 101, 125, 1);
}

.active {
    background-color:rgba(96, 101, 125, 1);
}

a:link {
    color: #fff;
}

a:visited {
    color:#fff;
}

a:hover {
    color:#fff;
}

a:active {
    color:rgba(96, 101, 125, 1);
    font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(96, 101, 125, 1);
}