@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

body {
    background: linear-gradient(to right, #3B3A3A, #7D7A7A);
    font-family: 'Raleway', sans-serif;
}



header h1{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px #454343;
}

nav {
    width: 20%;
    background-color:#E3DADA;
    height: 500px;
    float: left;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    color: #303030;
    padding: 0px;
    margin-top: 0;
 
}

nav li {
   height:40px;
   text-align: center;
    
}

nav li:hover {
    background-color:#B0A7A7;
}

#info {
    float: right;
    width: 80%;
    background-color: #F7F2F2;
    height: 500px;
     box-shadow: 5px 5px #454343;
}

#text {
    float: left;
    padding-left: 5px;
    width:450px;
}

#graphics {
    float:right;
    padding-top: 30px;
}

#chart {
    padding-right: 200px;
}
#dataTable{
	visibility: collapse;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

