@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);
a{
	color:#ffffff;
}
a:hover{
	text-decoration:none;
}
body {
    background-color: rgba(11, 12, 18, 0.9);
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

ul {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

li {
    text-align: center;
}
input{
	background-color:rgba(125, 126, 125, 0.1);
}

#loginInput{
	background-color: rgba(125, 126, 125, 0.1);
	margin:15px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
	color: #FFFFFF;
}
#graphics {
    background-color: rgba(125, 126, 125, 0.1);
	margin:15px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
	color: #FFFFFF;
	text-align: center;
}
#links{
    background-color: rgba(125, 126, 125, 0.1);
	padding:0;
	margin:15px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
	color: #FFFFFF;
	text-align: center;
}
#linkMenu{
	list-style-type:none;
	text-align:center;
	padding:0;
}
#linkMenu li{
	height: 50px;
	color: #ffffff;
}
#linkMenu li:hover{
	background-color: #ff5050;
}
#layer1 {
    clear: both;
    margin-left: 40px;
    margin-bottom: 10px;
}
#uname{
	width:100%;
}
#pass{
	width:100%;
}
#url{
	width:100%;
}
header h3 {
    float: left;
    margin-left: 55px;
}
header {
    margin-bottom: 20px;
}
h4 {
    text-align: center;
}