@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

body {
    background-color: #030A0D;
    font-family: 'Raleway', sans-serif;
}

html, body, #mainRow {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    height:100%;
    background-color: #030A0D;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #919191;
}

nav h4 {
    color:#fff;
    text-align: center;
    margin-bottom: 30px;
}


#rc1 {
    margin-top: 50px;
    margin-left: -15px;
    background-color: #EDEDED;
    box-shadow: inset 0 0 5px #000000;
    height: 200px;
    border-radius: 5px;
}

#rc2 {
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 10px;
    background-color: rgba(255, 240, 122, 0.8);
    box-shadow: inset 0 0 5px #000000;
    height: 100px;
    border-radius: 5px;
}

#rc7 {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #EDEDED;
    box-shadow: inset 0 0 5px #000000;
    height: 200px;
    border-radius: 5px;
    background-image: url(../images/project.jpg);
    background-size: cover;
    opacity: 1.1;
}

#rc7 h3 {
    text-align: center;
    color:#000;
    font-weight: bold;
    margin-top: 70px;
}

#rc3 {
    margin-top: 50px;
    margin-left: 30px;
    background-color: rgba(79, 171, 201, 0.6);
    box-shadow: inset 0 0 5px #000000;
    border-radius: 5px;
    height: 575px;
}

#rc4 {
    margin-top: 10px;
    margin-left: -20px;
    margin-right: 10px;
    background-color: rgba(230, 25, 25, 0.8);
    box-shadow: inset 0 0 5px #000000;
    height: 100px;
    border-radius: 5px;
}

#rc5 {
    margin-top: 10px;
    background-color: rgba(79, 171, 201, 0.6);
    box-shadow: inset 0 0 5px #000000;
    height: 100px;
    border-radius: 5px;
}
